body{
    background-color: lightblue;
}
@media(min-width :768px){
    .pizza{
        display: flex;
    }
}
img{
    margin: auto;
    display: block;
    
   

}
.small{
    flex: 1;
    padding: 1em;
    background-color: rosybrown;
    border: solid black;
    margin: 1em;

}
.medium{
    flex: 1;
 padding: 1em;
 background-color: seashell;
 border: solid black;
 margin: 1em;   
}
.large{
 flex: 1;   
 padding: 1em;
 background-color: red;
 border: solid black;
 margin: 1em;  
}
.footer{
    padding: 1em;
    border: solid white 0.5em;
    background-color: gray;
    text-align: left;
}

.header {
    padding: 1em;
    background-color: salmon;
    display: flex;
    border: solid white 1em;
}

h1 {

    /* padding: 1em; */
    /* border-radius: 0.25em; */
}

h2 {
    /* background-color: lightcoral; */
    /* padding: 1em; */
}

span {
    /*border: 1px solid;*/
    /*background-color: lightgreen;*/
    /*padding: 1em;*/
    /*margin: 1em;*/
}

.input {
    margin: 1em;
}

.link {
    background-color: lightcoral;
    width: 15em;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    /* text-align: center; */
}

.link:hover {
    background-color: crimson;
}


.cart-box {
    display: flex;
    justify-content: flex-end;

}

.cart-link {
    link: none;
}

.hidden {
    display: none;
}

.cart {
    background-color: wheat;
    /* margin: 0.5em; */
    padding: 1em;
    width: 100%;
    margin-top: -10em;
    border-radius: 0.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
    vertical-align: bottom;
    /* height: 50px; */
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;

}

.f1 {
    flex: 1
}

.f3 {
    flex: 3;
    
}

.message {
    padding: 1em;
    /* color: grey; */
    font-weight: bold;
    background-color: dodgerblue;
}

.input {
    padding: 1em;
}

.btn {
    padding: 1em 0em 1em 0em;
    width: 5em;
    background-color: darkcyan;
    color: black;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 0.25em;
}

.buy {
    width: 7em;
    margin-bottom: 1em;
    
    /* padding: 1em 0em 1em 0em;
    border-radius: 0.25em;
    background-color: gold;
    color: grey;
    font-weight: bold;
    border: 0;
    cursor: pointer; */
}
.cart {
        /* background-color: dodgerblue; */
        /* padding: 1em; */
        width: 50%;
        /* margin-top: -10em; */
        /* border-radius-bottom: 1em; */
    }

    box {
    /* background-color:lightseagreen; */
    border: 1em solid silver;
    width: 10%;
    padding: 2em 1em 2em 0em;
}

.box1 {
    /* background-color:lightseagreen; */
    border: 1px solid lightblue;
    width: 10px;
    padding: 2em 1em 2em 0em;
}